
.s-label {
    margin-bottom: 5px;
    color: var(--neutral-8);
    font-size: 14px;
    display: block;
    text-align: left;
    color:black;
    width: 100%;

}

.s-input {
    padding: 14px 12px;
    border: 1px solid var(--black20);
    width: 100%;
    border-radius: 10px;
    font-size: 14px;
    background-color: white;
    color: var(--black100);
    height: 50px;
    -webkit-transition: .5s;
    transition: .5s;
    outline: none;
}

.s-input:focus {
    border: 1px solid var(--primary);
    background-color:  white;
    filter: drop-shadow(4px 4px #d40000);
}

.s-status {
    padding: 5px 12px;
    border-radius: 6px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    width: 90px;
    text-align: center
}
