.sidebar-link{

    display: flex;
    padding: 10px 12px;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap:10px;
}


.sidebar-link:hover{
    background-color: var(--primary-600);
    color: #3fffac;

    
}
.link-name{
    text-transform: uppercase;
    font-size: 10px;
    /* padding: 0 5px; */
    color: var(--primary-300);
    font-weight: 600;

}